/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #efefef;
  border: 1px solid #888;
  margin: -40px auto;
  padding: 20px;
  width: 80%;
  position: relative;
}

/* The Close Button */
.modal-block-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-block-close:hover,
.modal-block-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.img-wrapper > img {
  padding: 24px;
  width: 24%;
}

span.modal-block-close {
  font-size: 24px;
  background: #0288d1;
  color: #fff;
  line-height: 25px;
  position: absolute;
  right: -5px;
  text-align: center;
  top: -8px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
  margin: 0;
}
